*{

    margin: 0px;
    padding: 0px;

}


body{

    background-color: #d4dade;

}

/* LINEA ENCIMA DEL HEADER */

#bar{

    width: 100%;
    height: 10px;

    background-color: #ffdfb7;
    
}

/* HEADER */

header{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;


    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

/* DESCRIPTION */

.descripcion{

    width: 100%;

    background-color: rgb(162, 160, 160);

}


/* CONTENT */


.content{

    margin-top: 30px;

}

.content h1{

    margin-bottom: 30px;

    color: #405159;
    text-decoration: underline;
    background-color: #7a929e;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/* direccion */

.direccion{

    width: 100%;
    margin-bottom: 30px;

    background-color: #b5c3c9;

}

.direccion .text-direccion p{

   display: inline;

}

.negrita{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    color: #3b90c6;
}


/* EDUCACION */


.educacion{

    width: 100%;
    margin-bottom: 30px;

    background-color: #b5c3c9;

}

.educacion .text-direccion p{

    display: inline;
 
}


 .capacidades{

    width: 100%;
    margin-bottom: 30px;

    background-color: #b5c3c9;

}

.idiomas{

    width: 100%;
    margin-bottom: 20px;

    font-weight: bolder;
    
    color: #5b717b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color: #9ea4a6;

}


.capacidades .text-direccion p{

    display: inline;
 
}

/* FOOTER */

footer{

    margin-top: 10px;
    width: 100%;

    background-color: white;

}

footer p{

    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: end;

}